<div class="container mt-5">

  <h2 class="mb-4">Order</h2>

  <div *ngIf="orderItems.length === 0" class="alert alert-info">
    Your order is empty
  </div>

  <div *ngIf="orderItems.length > 0">

    <table class="table table-bordered align-middle list">
      <thead class="table-dark">
        <tr>
          <th>Email</th>
          <th>Phone</th>
          <th>Shipping Address</th>
          <th>TotalPrice</th>
         
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of orderItems">

          <td>{{item.email}}</td>

          <td>{{item.phoneNumber}}</td>

          <td>{{item.shippingAddress}}</td>

          <td>{{item.totalPrice | currency}}</td>


        

        </tr>
      </tbody>
    </table>

  </div>

</div>